body
{
padding: 10px;
margin: 40px;
font-size: 24px;
font-family: helvetica ;
background-image: url(https://wallpaperaccess.com/full/420977.jpg);
background-repeat: no-repeat;
background-size: auto;
color: aliceblue;
}

nav
{
    background-color: #412279;
    padding: 0px;
    color:white;
}